*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #000;
}

header {
    background-color: #282a2e;
    color: #dadada;
}

li {
    cursor: pointer;
}
.navbar-brands {
    width: 8.5em;
}


#links .nav-item {
    padding: 1em;
}

#actions .nav-item {
    padding: .4em;
}

.nav-pills li:hover {
    background-color: #131416;
}

.nav-pills li img{
    width: 2.8em;
}

#coroa {
    height: 1.5em;
}

#premium{
    display: flex;
    align-items: center;
}

.modal-content {
    background-color: #282a2e;
}


.modal-header h3{
    margin-bottom: 0;
    padding-left: .5em;
}

.modal-footer button {
    border-radius: .2em;
}

.modal-footer button:hover{
    color: #DADADA;
}

.carousel-item img {
    width: 100vw;
}

.carousel-item {
    position: relative;
}

.caption {
    width: 25vw;
    height: 45%;
    position: absolute;
    top: 7%;
    left: 7%;
}

.caption img {
    width: 100%;
}


h6{
    padding-top: 2em;
    color: #7c7a7a;
}

p{
    color: #DADADA;
}

.caption button {
    background-color: #F47521;
    font-weight: bold;
    border-radius: 0;
    margin-top: 1em;
}

.caption button>img {  
    width: 1.5em;
    padding-right: .5em;
}

.btn-warning {
    border-radius: 0;
    font-weight: bold;
    --bs-btn-bg: #F47521;
    --bs-btn-border-color: #F47521;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fd9f60;
    --bs-btn-hover-border-color: #fd9f60;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
}

.carousel-control-next, .carousel-control-prev {
    width: 3%;
}

.carousel-indicators{
    position: absolute;
    top: 65%;
    left:-64%;
}

.carousel-indicators .active{
    background-color: #F47521;
}

.alert {
    padding: 0 2em;
    font-family: "Lato",sans-serif;
    color: #DADADA;
    background-color: #000;
    border-radius: 0;
    border: solid 1px #dadada;
    font-weight: bold;
    display: flex;
    margin: 2px;
    align-items: center;
    position: fixed;
    bottom:0;
    z-index: 2;
}

.btn-primary {
    border-radius: 2px;
    border: none;
    background-color: #00BFFF;
    margin: 1em;
    font-size: .8em;
    width: 22em;
    font-weight: bold;
    padding: 10px;
}

.btn-primary:hover{
    background-color: #20a3cf;
    color: #c9c9c9;
}

.first {
    border: solid 1px #DADADA;
}

.first:hover{
    border: solid 1px #ffffc9;
}

.text {
    font-weight: bold;
    font-size: .8em;
}

#grid{
    background-color: #000;
    color: #DADADA;
    padding: 2em 2em;
}

#grid h2 {
    font-weight: bold;
}

#grid p {
    color: #7c7a7a;
}

.row {
    justify-content: space-around;
    margin-top: 3em;
}

.card {
    border-radius: 0;
    cursor: pointer;
}

.card-title{
    display: inline;
    font-size: 1.2em;
    font-weight: bold;
}

.card-header h6, img {
    display: inline;
    color: #DADADA;
}

.card-header {
    text-align: center;
    font-weight: bold;
}
.card-header h6 {
    margin-left: .7em;
}

.card-header img {
    width: .9em;
    margin-bottom: .2em;
    margin-left: 1em;
}

.card-body {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.card-body>a {
    padding: .8em;
}

.card-body a:hover{
    background-color: #131416;
}

.card-body a img {
    width: 1.5em;
}

#cat-end {
    color: #DADADA;
    background-color: #00000000;
}

.sleep {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box {
    text-align: center;
    font-size: .5em;
}

.bottom {
    color: #F47521;
    --bs-btn-bg: #000000;
    --bs-btn-border-color: #F47521;
    --bs-btn-hover-color: #f7b183;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #f7b180;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
}


.gradient{
    background-image: linear-gradient(#000, #213843);
    padding-bottom: 1em;
}

.end {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: solid 1px #98999A;
    padding-top: 1em;
}

.end img {
    height: 1em;

}

.end h4 {
    font-size: 1.2em;
    color: #98999A;
}

#language {
    background-color: #00000000;
    border: #00000000;
    color: #98999A;
    font-weight: bold;
    font-size: .9em;
    padding: .6em;
    transition: ease .3s;
}

#language:hover{
    background-color: #282A2E;
}

.dropup ul li{
    padding: 1em;
}


.dropup ul li >a{
    text-decoration: none;
    color: #DADADA;
}

@media screen and (max-width: 640px){

    header{
        padding-top: .5em;
    }

    .navbar a img {
        content: url(icons/crunchyroll-icon.png);
        width: 2.5em;
    }

    .navbar-toggler {
        order: 1;
    }

    #premium{
        display: none;
    }

    #carousel-anime {
        margin-bottom: 1em;
    }

    #first-img img{
        content: url(carousel-img/one-peace/one-peace-vertical.png);
    }

    #second-img img{
        content: url(carousel-img/solo-leveling/solo-leveling-vertical.png);
    }

    #third-img img{
        content: url(carousel-img/class-room-of-the-elite/class-room-of-the-elite-vertical-Copia-_2_.png);
    }

    #fourth-img img{
        content: url(carousel-img/the-witch-and-the-beast/the-witch-and-the-beast-vertical-black.png);
    }

    #fifth-img img{
        content: url(carousel-img/villainess-lv99/villainess-lv99-tittle-vertical.png);
    }

    #sixth-img img{
        content: url(carousel-img/cherry-magic/cherry-magic-vertical-black.png);
    }

    .carousel-item img {
        width: 100vw;
    }

    .caption {
        width: 100vw;
        top: 76%;
        left: 5%;
    }
    
    .caption img {
        display: none;
    }

    .caption>p {
        display: none;
    }

    .caption button {
        width: 90%;
    }

    .carousel-indicators{
        top: 98%;
        left: -4%;
    }

    .carousel-control-prev, .carousel-control-next{
        display: none;
    }

    .alert {
        width: 100%;
        padding-top: 3em;
        margin: 0;
        display: block;
        position: initial;
        position: fixed;
    }

    .blue {
        width: 99%;
        margin: 1em 0;
    }

    .row> .col-sm-12 {
        padding: 1.5em 0;
        
    }

    .cat-end {
        height: 10%;
    }

    .box img {
        margin-bottom: 1em;
    }

    .box h2 {
        font-size: 2.5em;
    }

    .bottom {
        margin-top: 1em;
    }

    .sleep {
        height: 60vh;
    }

    .end {
        width: 100%;
        display: block;
        text-align: center;
    }

    #nome {
        padding-top: 1em;
    }

    #language { 
        margin-top: 1em;
        font-size: 1.4em;
    }

    .final {
        width: 100%;
    }
}